.background{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#4DAF55, #3D8980);
    position: relative;
}

.input__container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.input{
    width: 73px;
    box-sizing: border-box;
    height: 73px;
    background-color: #000;
    color: #fff;
    font-size: 40px;
    outline: none;
    border: unset;
    transition: 0.5s;
}

.open{
    width: 425px;
    padding-left: 25px;
    padding-right: 100px;
}

.icon{
    background-color: #ffffff;
    display: inline-block;
    width: 73px;
    height: 73px;
    line-height: 73px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.icon__item{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 30px;
}
