.container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.allBox{
    position: absolute;
    left: 100px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px 0;
    box-sizing: border-box;
}

.box{
    left: 100px;
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 black;
    cursor: pointer;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    line-height: 100px;
    z-index: 10;
}

.allArea{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    right: 100px;
    padding: 20px 0;
    box-sizing: border-box;
}

.area{
    width: 250px;
    height: 250px;
    position: absolute;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* right: 200px; */
    border-radius: 10px;
    border: 2px dashed black;
    transition: all 0.3s;
    right: 100px;
}

img{
    width: auto;
    height: auto;
    cursor: pointer;
    position: absolute;
    /* transform: translate(-40%, -30%); */
    /* transform: scale(2,); */
    left: 0;
    top: 0;
    z-index: 10;
    clip-path: polygon(30% 40%, 40% 40%, 40% 60%, 30% 60%);
}