.container{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.box{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 black;
    cursor: pointer;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    line-height: 100px;
    z-index: 10;
}

.area{
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 200px;
    border-radius: 10px;
    border: 2px dashed black;
    transition: all 0.3s;
}